//Variables
$js-on:'html:not(.no-js) &';

// Functions

@function r($grayscale-rgb-number){
	@return rgb($grayscale-rgb-number,$grayscale-rgb-number,$grayscale-rgb-number)
}
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}
//function for url-encoding any color (for using color variables inside SVGs)
@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

// Mixins

//requires strip-units function
@mixin baseline-grid($baseline, $line-color-01: #ccc, $line-color-02: transparent) {
	$browser-fz-base:16;
	@if (unit($baseline) == 'rem') {
		$baseline:$baseline*$browser-fz-base;
	}
	$baseline:strip-units($baseline);
	.baselinegrided {
		width:100%; height:100%; position:absolute; top:0; left:0; z-index:10000; display:none; pointer-events:none;
		background: -webkit-repeating-linear-gradient(180deg, $line-color-02, $line-color-02 $baseline - 1px, $line-color-01 $baseline + px);
		background: -moz-repeating-linear-gradient(180deg, $line-color-02, $line-color-02 $baseline - 1px, $line-color-01 ($baseline + px));
		background: -ms-repeating-linear-gradient(180deg, $line-color-02, $line-color-02 $baseline - 1px, $line-color-01 ($baseline + px));
		background: repeating-linear-gradient(180deg, $line-color-02, $line-color-02 $baseline - 1px, $line-color-01 ($baseline + px));
		background-size:100% ($baseline + px);
	}
}

@mixin sticky-footer($footer-height) {
	html, body {height: 100%;}
	.main {min-height: 100%; margin-bottom: -$footer-height; 
	}
	.main:after {content:""; display:block;}
	.footer, .main:after {height:$footer-height;}
}
@mixin headings($from: 1, $to: 6, $notfirstchild:false){
	@for $i from $from through $to{
		@if $notfirstchild == true {
			h#{$i}:not(:first-child){
				@content
			}
		} @else {
			h#{$i}{
				@content
			}
		}
	}
}
//usage @include headings(){font-family:sans-serif; ...}

@mixin webkit-only {
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@content
	}
}

@mixin ie1011-only {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   @content
	}
}

// Reusable extends
%setliststyling {list-style-type:disc; list-style-position:inside;} //for li
%pseudoblockelement {display:block; content:''; position:absolute;} //does not include size, positioning coordinates or background-color
%button-pressed {position:relative; 
	&:active {top:1px;}
}
%textcoloredlink {
	a {color:inherit; text-decoration:none; }
}
%underlinedhover {
	a:hover {text-decoration:underline; }
}
%comma-separated-list {
	li {display:inline;
		&:after {content:', ';}
		&:last-child:after {content:''; }
	}
}
%wp-widget-hiddentitle {.widgettitle {display:none;}}
%reset-firstitem-margin-x {&:first-child {margin-left:0;}}
%reset-firstitem-margin-y {&:first-child {margin-top:0;}}
%has-hidden-submenu {
	&>ul {display:none; position:absolute;}
	&:hover>ul {display:block;}
}
%has-hidden-span {
	span {display:none; }
}
%no-focus-outline {
	&:focus {outline:none}
}