//Per site mixins

// !Utilities
@mixin u-underlinedhover {
  a:hover {
    text-decoration:underline; // or border-bottom, or pseudoelement?.. You decide!
  }
}


// !Objects
@mixin o-horizontal-text-menu {
  // reuse me here and there!
}


// !Themed styles
@mixin t-section-head {
  text-transform:uppercase; 
  letter-spacing:.4px; 
}