//Per site mixins

// !Utilities
%u-underlinedhover {
  a:hover {
    text-decoration:underline; // or border-bottom, or pseudoelement?.. You decide!
  }
}


// !Objects
%o-horizontal-text-menu {
  // reuse me here and there!
}


// !Themed styles
%t-smallcaps-head {
  text-transform:uppercase; 
  font-size:$fs-xs;
  letter-spacing:.4px; 
}