//Per site mixins

// !Utilities
%u-underlinedhover {
  a:hover {
    text-decoration:underline; // or border-bottom, or pseudoelement?.. You decide!
  }
}
.u-screenreader-text {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}


// !Objects
%o-horizontal-text-menu {
  // reuse me here and there!
}


// !Themed styles
%t-smallcaps-head {
  text-transform:uppercase; 
  letter-spacing:.4px; 
}