// Site variables

// Colors
$color-link:black;

//Typography
$ff:Corbel, Lucida Grande, Verdana, sans-serif;
$fs:15px;
$lh:23px;

//Proportions and spacing
$ux:10px;
$uy:6px;

//Width
$mainwidth:940px;

//Breakpoints

//Data URIs
//$data-search-icon: 'data:image/png;base64';