// reusable styled component
// usage: @include c-bright-menu(&);
@mixin c-bright-menu($base_class) {
  
  $local-var:10px;

  & {
    text-align:center; 
    margin:0 auto;
  }

  @at-root {
    #{$base_class}__item {
      // show svg icon from the sprite
      // filename is "icon-phone"
      @extend .u-spr-svg-icon-phone;
      @extend .u-spr-svg-icon-phone-size;
    }
  }
}